openapi: 3.0.3
info:
  title: DEX API Gateway
  description: Distributed Exchange REST API endpoints (spec v1.0.0)
  version: 1.0.0
servers:
  - url: https://api.exchange.com/v1
    description: Production
paths:
  /orders:
    post:
      summary: Create Order
      operationId: createOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderRequest"
      responses:
        "200":
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
        "429":
          description: Rate limit exceeded
  /orders/{id}:
    get:
      summary: Get Order
      operationId: getOrder
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Order details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Cancel Order
      operationId: cancelOrder
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelOrderRequest"
      responses:
        "200":
          description: Order cancelled
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
  /accounts/{id}:
    get:
      summary: Get Account
      operationId: getAccount
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Account information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "404":
          description: Account not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CreateOrderRequest:
      type: object
      required:
        - account_id
        - symbol
        - side
        - price
        - quantity
        - time_in_force
      properties:
        account_id:
          type: string
          format: uuid
        symbol:
          type: string
          example: "BTC/USDT"
        side:
          type: string
          enum: [BUY, SELL]
        price:
          type: string
          description: Decimal-as-string fixed-point
          example: "50000.00"
        quantity:
          type: string
          description: Decimal-as-string fixed-point
          example: "1.0"
        time_in_force:
          type: object
          properties:
            type:
              type: string
              enum: [GTC, IOC, FOK, GTD]
            value:
              type: string
              description: Unix nanoseconds as string (only for GTD)
              example: "1708123456789000000"
    CancelOrderRequest:
      type: object
      required:
        - account_id
      properties:
        account_id:
          type: string
          format: uuid
    OrderResponse:
      type: object
      properties:
        order_id:
          type: string
          format: uuid
        status:
          type: string
          example: "PENDING"
    Order:
      type: object
      properties:
        order_id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
        symbol:
          type: string
        side:
          type: string
          enum: [BUY, SELL]
        price:
          type: string
          description: Decimal-as-string
        quantity:
          type: string
        filled_quantity:
          type: string
        remaining_quantity:
          type: string
        status:
          type: object
          properties:
            state:
              type: string
              enum: [PENDING, PARTIAL, FILLED, CANCELED, REJECTED, EXPIRED]
            reason:
              type: string
        time_in_force:
          type: object
        created_at:
          type: string
          description: Unix nanoseconds as string
          example: "1708123456789000000"
        updated_at:
          type: string
          description: Unix nanoseconds as string
          example: "1708123456789000000"
        version:
          type: integer
    Account:
      type: object
      properties:
        account_id:
          type: string
          format: uuid
        balances:
          type: object
          additionalProperties:
            type: string
            description: Decimal-as-string balance
    MarketData:
      type: object
      properties:
        symbol:
          type: string
        last_price:
          type: string
        volume_24h:
          type: string
        high_24h:
          type: string
        low_24h:
          type: string
        mark_price:
          type: string
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
